/* * * * * *
   Globals
* * * * * * */

:root{
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
  --cell-line-color: black;
  --x-color: black;
  --o-color: black;
  --o-inner-color: white;
  --hint-color: grey;
  --modal-button-color-main: #60A5FA;
  --modal-button-color-hover: #BFDBFE;
}

*,*::before,*::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

button{
  all: initial;
  text-align: center;
  cursor: pointer;
}

/* * * * * *
    Board
* * * * * * */

.board{
  width: 100vw;
  height:100vh;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, auto);
  grid-template-areas: 
    "player1 score player2"
    "player1 grid player2"
    "player1 none player2";
  align-items: center;
  justify-items: center;
}

#player1{
  grid-area: player1;
}

#player2{
  grid-area: player2;
}

.player{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  font-size: 2rem;
}

.score{
  grid-area: score;
  font-size: 5rem;
}

.game-grid{
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, auto);
  grid-area: grid;
}

.cell{
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid var(--cell-line-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
/*<-------Remove extra borders------->*/
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
  border-top: none;
}

.cell:nth-child(3n + 1){
  border-left: none;
}

.cell:nth-child(3n + 3){
  border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8){
  border-bottom: none;
}

/*<-------X styling------->*/
.cell.x,
.cell.circle{
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:hover:not(.x):not(.circle)::before,
.board.x .cell:hover:not(.x):not(.circle)::after{
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cell.x::before,
.cell.x::after{
  background-color: var(--x-color);
}

.cell.x::before,
.board.x .cell:hover:not(.x):not(.circle)::before{
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:hover:not(.x):not(.circle)::after{
  transform: rotate(-45deg);
}

/*<-------o styling------->*/
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:hover:not(.x):not(.circle)::before,
.board.circle .cell:hover:not(.x):not(.circle)::after{
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:hover:not(.x):not(.circle)::before{
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.circle::before{
  background-color: var(--o-color);
}

.cell.circle::after,
.board.circle .cell:hover:not(.x):not(.circle)::after{
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
}

.cell.circle::after{
  background-color: var(--o-inner-color);
}

/*<-------x and o hint styles------->*/
.board.x .cell:hover:not(.x):not(.circle)::before,
.board.x .cell:hover:not(.x):not(.circle)::after{
  background-color: var(--hint-color);
}

.board.circle .cell:hover:not(.x):not(.circle)::before{
  background-color: var(--hint-color);
}

.board.circle .cell:hover:not(.x):not(.circle)::after{
  background-color: var(--o-inner-color);
}

/* * * * * *
    Game
    Over
    Modal
* * * * * * */

.game-over{
  width: 400px;
  height: 580px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 25px;
}

.game-over-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.game-over h2{
  font-size: 2rem;
}

.game-over .who-won{
  font-size: 1.5rem;
}

.game-over img{
  width: 180px;
  height: 255px;
}

.game-over .taunt{
  font-size: 1.2rem;
}

.game-over .button-wrapper{
  display: flex;
  gap: 10px;
}

.game-over button{
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--modal-button-color-main);
  font-family: Arial, Helvetica, sans-serif;
}

.game-over button:hover{
  background-color: var(--modal-button-color-hover);
}

.game-over::backdrop{
  background-color: black;
  opacity: 0.5;
}